html
    head
        meta(name="vievport" content="width=device-width, initial-scale=1.0" )
        title Login page (ExpressJS Pug template)
        link(rel='stylesheet', href='../style.css')
    body
        include ./header.pug

        section
            h2 Hello, #{first_name} #{last_name}
            p You have successfully logged into your "account"
        
        include ./footer.pug