html
    head
        meta(name="vievport" content="width=device-width, initial-scale=1.0" )
        title Login page (ExpressJS Pug template)
        link(rel='stylesheet', href='style.css')
    body
        include ./header.pug

        section
            h2 Please, log into your "account"
            form(method='GET' action='/auth/google')
                div.form-group
                    label(for="first_name") First Name:
                    input(type="text" placeholder="Enter your first name" name="first_name" required)
                div.form-group
                    label(for="last_name") Last Name:
                    input(type="last_name" placeholder="Enter your last name" name="last_name" required)
                button.login(type="submit") Log in

        include ./footer.pug